/*Body*/
body{
    background: rgb(44,124,244);
    background: linear-gradient(180deg, rgba(44,124,244,1) 0%, rgba(244,244,244,1) 100%);
    margin: 0;
    padding: 0;
}

/*Section*/
.text{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.text_escrita_direita{
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: center;
    justify-self: center;
}

.text_escrita_direita h2{
    display: inline;
    padding-bottom: 5px;
    border-bottom: 1px solid #FFFFFF;
}

.text_escrita_direita p{
    display: block;
    padding: 5px;
    border: 1px solid #000000;
}

.text_escrita_esquerda{
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: center;
    justify-self: center;
}

.text_escrita_esquerda h2{
    display: inline;
    padding-bottom: 5px;
    border-bottom: 1px solid #FFFFFF;
}

.text_escrita_esquerda p{
    display: block;
    padding: 5px;
    border: 1px solid #000000;
}

.text_imagem_esquerda{
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: center;
    justify-self: center;
}

.text_imagem_direita{
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: center;
    justify-self: center;
}

/*Footer*/
footer{
    display: grid;
    background-color: #0C2A76;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 20px;
}

#Logo_Footer{
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: center;
    justify-self: center;
}

#Logo_IFC{
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: center;
    justify-self: center;
}
