/* html */
html{
    scroll-padding-top: 300px;
}

/*Body*/
body{
    background: rgb(44,124,244);
    background: linear-gradient(180deg, rgba(44,124,244,1) 0%, rgba(244,244,244,1) 100%);
    margin: 0;
    padding: 0;
}

/*menu fixo*/
#Topo{
    position: sticky;
    top: 0;
    z-index: 1;
}

.p{
    font-family: "Roboto", serif;
    font-weight: 100;
    font-style: normal;
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: normal;
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;
    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: normal;
    font-family: "Roboto", serif;
    font-weight: 900;
    font-style: normal;
    font-family: "Roboto", serif;
    font-weight: 100;
    font-style: italic;
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: italic;
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: italic;
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: italic;
    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: italic;
    font-family: "Roboto", serif;
    font-weight: 900;
    font-style: italic;
}

/*Header*/
header {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;                                        
    background-color: rgb(12,42,118);;         
}

h1{
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-size: 24px;
    font-weight: bold;
    margin: 0 20px;
    font-size: 25px; 
    font-family: Show;
    color: white;
    text-transform: uppercase; 
    text-align: center;
    margin-top: 15px; 
}

h2{
    font-size: 24px;
    font-weight: bold;
    margin: 0 20px;
    font-size: 25px; 
    font-family: Show;
    color: rgb(0, 0, 0);
    text-transform: uppercase; 
    text-align: center;
    margin-top: 15px; 
}


.letra_respiro{
    font-size: 50px;
    font-weight: bold;
    margin: 0 20px;
    font-size: 65px; 
    font-family: Show;
    color: rgb(0, 0, 0);
    text-transform: uppercase; 
    text-align: center;

}

.left-img {
    width: 200px; 
    height: auto;
    margin-left: 20px;
}

.right-img {
    width: 100px; 
    height: auto;
    margin-right: 25px;
}

/* Menu dropdown */
header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-right: 25px;
}
  
header ul li {
    float: left;
}

header ul li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*Nav*/
nav {
    background-color: rgb(13,15,132);
    padding: 10px 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover{
    color: rgb(13,15,132);
    background-color: white;
    font-weight: bold;
}

/*carossel*/
.carousel-container {
    width: 100%;
    max-width: 100%;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.carousel img {
    width: 100%;
    height: 850px;
}

.carousel-slide {
    min-width: 100%;
}

/*Section*/
.text{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin: 50px;
    align-items: center;
    justify-items: center;
}

.text_escrita_direita{
    display: block;
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: center;
    justify-self: center;
}

.text_escrita_direita h2{
    display: inline;
    padding-bottom: 5px;
    border-bottom: 1px solid #FFFFFF;
}

.text_escrita_direita p{
    display: block;
    padding: 5px;
    border: 1px solid #000000;
}

.text_escrita_esquerda{
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: center;
    justify-self: center;
}

.text_escrita_esquerda h2{
    display: inline;
    padding-bottom: 5px;
    border-bottom: 1px solid #FFFFFF;
}

.text_escrita_esquerda p{
    display: block;
    padding: 5px;
    border: 1px solid #000000;
}

.text_imagem_esquerda{
    margin: 0;
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: center;
    justify-self: center;
}

.text_imagem_direita{
    margin: 0;
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: center;
    justify-self: center;
}

.desenhos {
    position: relative;
    height: 200px;
    width: 200px;
    margin-left: 170px;
}

/*Respiro*/
#respiro{
    line-height: 0.8;
    text-align: center;
    font-size: 2.7em;
    grid-template-rows: 1fr;
    font-family: "Luckiest Guy",Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    font-style: normal;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: #9fa4bc;
    border-radius: 60px;
    width: 1200px;
    height: 624px;
    justify-self: center;
    justify-items: center;
    align-items: center;
    grid-gap: 20px;
    padding: 20px;
}

#respiro h2{
    grid-column: 1/2;
    grid-row: 1/2;
}

#respiro img{
    grid-column: 2/3;
    grid-row: 1/2;
}

/*Sites e Apps*/
#tec_ajuda{
    display: grid;
    grid-template-columns: repeat(1fr, 4);
    grid-row: 900px;
    justify-self: center;
    justify-items: center;
    grid-gap: 50px;
    margin: 50px;
}

#explic{
    grid-row: 1/2;
    grid-column: 1/2;
    background-color: #2C7CF4;
    border-radius: 60px;
    padding: 20px;
}

#duolingo{
    grid-row: 1/2;
    grid-column: 2/3;
    background-color: #2C7CF4;
    border-radius: 60px;
    padding: 20px;
}

#Memrise{
    grid-row: 1/2;
    grid-column: 3/4;
    background-color: #2C7CF4;
    border-radius: 60px;
    padding: 20px;
}

#IdiomasSemFronteira{
    grid-row: 1/2;
    grid-column: 4/5;
    background-color: #2C7CF4;
    border-radius: 60px;
    padding: 20px;
}

.image img, .image h4{
    display: inline-block;
}

.image img{
    height: auto;
    width: 100px;
}

/*Footer*/
footer {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 200px;
    background-color: #0C2A76; 
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px; 
}

footer img.footer {
    height: 150px; 
    width: auto; 
}

footer img.footer:nth-child(1) {
    margin-right: 150px; 
}

footer img.footer:nth-child(2) {
    margin-left: 20px; 
}

#tech_footer{
    position: relative;
    height: 230px;
    width: 230px;
    margin-right: 100px;
    
}

#ifc_footer{
    position: relative;
    height: 180px;
    width: 450px;
}
